<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.education.system.images.repository.ImageRepository">
    <insert id="insertImage" parameterType="com.example.education.system.images.model.Image" useGeneratedKeys="true" keyProperty="imageId">
        INSERT INTO images (file_path, file_name, file_type, type, user_id)
        VALUES (#{filePath}, #{fileName}, #{fileType}, #{type}, #{userId})
    </insert>

    <select id="findImages" resultType="com.example.education.system.images.model.Image">
        SELECT * FROM images
        WHERE 1=1
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        ORDER BY upload_time DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countImages" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM images
        WHERE 1=1
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
    </select>

    <select id="findImageById" resultType="com.example.education.system.images.model.Image">
        SELECT * FROM images WHERE image_id = #{imageId}
    </select>

    <delete id="deleteImage" parameterType="java.lang.Integer">
        DELETE FROM images WHERE image_id = #{imageId}
    </delete>
</mapper>
